:root{
    --font-family: 'Open Sans', sans-serif;
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(69, 76, 101); 
    --color-text: rgb(74, 74, 74);
    --color-primary: rgb(15, 97, 217);
    --color-separator: rgb(222, 226, 230);
    --color-section: rgb(244, 247, 251);    
}