.button{
    cursor: pointer;
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 1rem 1.7rem;
    text-align: center;
    &--primary{
        background-color: var(--color-primary);
        color: var(--color-white);
        font-weight: 600;
        font-size: 1.125rem;
        border-radius: 0.375rem;
    }
}